bin/
obj/
test/
packages/
.vs/
RequiredFilesBUS/
RequiredFilesFAM/
temp/
.metadata/
*.Web.Publish.xml
*.vspscc
*.manifest
*.vssscc
*.cache
*.dbmdl
*.jfm
*.suo
*.user
*.SCC
*.tmp
*.bin
*.exe
*.pdb
*.testlog
*.vsidx
*.xcuserstate
*.pbxproj
