@model IEnumerable<BetStats.Models.League>

@{
    ViewBag.Title = "Lista Competizioni";
}

<style>
    .dataTables_filter {
        display: none;
    }
</style>

<h2>Lista Competizioni</h2>

<table id="LeaguesTable" class="display">
    <thead>
        <tr>
            <th>Nome competizione</th>
            <th>Nazione</th>
            <th>Tipo competizione</th>
        </tr>
        <tr class="filters">
            <th><input type="text" placeholder="Cerca Nome competizione" /></th>
            <th><input type="text" placeholder="Cerca Nazione" /></th>
            <th><input type="text" placeholder="Cerca Tipo competizione" /></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var league in Model)
        {
            <tr>
                <td><a href="@Url.Action("Teams", "Football", new { leagueId = league.LeagueID, leagueName = league.LeagueName, currentSeason = league.CurrentSeason })">@league.LeagueName</a></td>
                <td>@league.LeagueNation</td>
                <td>@league.LeagueType</td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        var table = $('#LeaguesTable').DataTable({
            "paging": false,
            "ordering": true,
            "info": false,
            "searching": true,
            "orderCellsTop": true,
            "language": {
                "search": "Cerca:",
                "lengthMenu": "Mostra _MENU_ record per pagina",
                "zeroRecords": "Nessun record trovato",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": "Nessun record disponibile",
                "infoFiltered": "(filtrati da _MAX_ record totali)"
            }
        });

        // Aggiunta dei filtri per ogni colonna
        $('#LeaguesTable thead tr.filters th').each(function (i) {
            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
</script>