@model IEnumerable<BetStats.Models.Team>

@{
    ViewBag.Title = "Lista Squadre";
}

<h2>Lista Squadre - @ViewBag.LeagueName</h2>

<table id="TeamsTable" class="display">
    <thead>
        <tr>
            <th>Nome squadra</th>
            <th>Pari/Dispari consecutivi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td><a href="@Url.Action("MatchDetails", "Football", new { teamID = team.TeamID, teamName = team.TeamName, currentSeason = team.CurrentSeason })">@team.TeamName</a></td>
                <td>@team.LastEvenOddCount</td>
            </tr>
        }
    </tbody>
</table>

<script>
    //parser personalizzato per DataTables
    $.fn.dataTable.ext.type.order['date-dd-mm-yyyy-pre'] = function (d) {
        var parts = d.split('/');
        return new Date(parts[2], parts[1] - 1, parts[0]).getTime();
    };

    $(document).ready(function () {
        $('#TeamsTable').DataTable({
            "paging": false,
            "ordering": true,
            "info": false,
            "searching": true,
            "order": [[1, "desc"]],
            "language": {
                "search": "Cerca:",
                "lengthMenu": "Mostra _MENU_ record per pagina",
                "zeroRecords": "Nessun record trovato",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": "Nessun record disponibile",
                "infoFiltered": "(filtrati da _MAX_ record totali)"
            }
        });
    });
</script>